<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor="lightblue">
  
   <a href="/student/home">Home</a> |
   <a href="/student/insert">Insert</a> |
   <a href="/student/display">Display</a>

<hr size="4"color="red">
<form action="/student/stusave" method="post">
<h1>Welcpome to our Home Page</h1>
Enter Rollno :<input type="text" name="rollno"><br> 
Enter Name:<input type="text" name="name"><br>
Enter City :<input type="text" name="city"><br>
Enter Fees <input type="text" name="fees"><br>

<button>save</button>
</form>
</body>
</html>