<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        #menu{
            font-size: 30px;
            background-color: black;
            text-align: center;height: 60px;
            align-items: center;
            display: flex;
            justify-content: space-around;
        a{
            text-decoration: none;
            color: aliceblue;
        }
        }
    </style>


</head>
<body bgcolor="green">
    <div id="menu">
    <a href="/college/home">Home</a> |
    <a href="/college/about">About</a> |
    <a href="/college/courses">Courses</a> |
    <a href="/college/faculty">Faculty</a> |
    <a href="/college/contact">Contact</a> |

</div>
    <hr color="red" size="4">

<h2>Our Contact Detail </h2>

Enter name: <input type="text" name="name"><br>
Enter email: <input type="text" name="email"><br>
Enter phone: <input type="text" name="phone"><br>   
Enter address: <input type="text" name="address"><br>


</body>
</html>